<h1>Home</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){ %>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts){%>
                <li>
                    <p>
                        <span>😀 <%= post.user.name%></span>
                        <br>
                        <span>❥ <%= post.content %></span>
                    </p>
                    <div class="post-comments">
                        <% if(locals.user){ %>
                            <form action="/comment/create" method="POST">
                                <input type="text" name="content" required placeholder="Type comment here...">
                                <input type="hidden" name="postId" value="<%= post._id %>">
                                <input type="submit" value="➤">
                            </form>
                        <% } %>
                        <div class="post-comments-list">
                            <ul id="post-comments-<%=post._id%>">
                                <% for (comment of post.comments) { %>
                                    <p>
                                        <span>☺ <%= comment.user.name%></span>
                                        <br>
                                        <span>🎙 <%= comment.content %></span>
                                    </p>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</section>